.search {
    max-width: 1140px;
    margin-bottom: 48px;
    width: 100%;
}

.search__form {
    display: flex;
    flex-direction: column;
}

.search__container {
    display: flex;
    width: 100%;
    padding-bottom: 13px;
    margin-bottom: 32px;
    border-bottom: 1px solid #e8e8e8;
}

.search__container-input {
    color: #A0A0A0;
    display: flex;
    font-weight: 400;
    font-size: 28px;
    line-height: 33.89px;
    width: 100%;
    border: none;
}

.search__container-input:focus {
    outline: 2px solid #3456f3;
    border-radius: 2px;
}

.search__container-btn {
    background-color: #3456f3;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    min-width: 59px;
    min-height: 34px;
    margin-left: 5px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.search__container-btn:hover {
    opacity: 0.5;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .search {
        margin-top: 8px;
        margin-bottom: 61px;
    }

    .search__container {
        margin-bottom: 28px;
    }
}

@media (max-width: 500px) {
    .search {
        margin-top: 46px;
    }

    .search__container-input {
        font-size: 18px;
        line-height: 21.78px;
    }

    .search__container {
        padding-bottom: 6px;
        margin-bottom: 40px;
    }
}