.navtab {
    position: fixed;
    visibility: hidden;
    inset: 0 0;
    cursor: pointer;
    z-index: 1;
}

.navtab:hover {
    visibility: 0s;
    opacity: 0.3s;
}

.navtab_open {
    visibility: visible;
}

.navtab_open:hover {
    visibility: 0s;
    opacity: 0.3s;
}

.navtab__list {
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 520px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    background: #FFFFFF;
    transform: translateX(min(520px, 100%));
    transition: transform 0.3s 0s;
}

.navtab_open .navtab__list {
    transition: transform 0.5s 0.2s;
    transform: translateX(0);
}

.navtab__menu-icon {
    display: flex;
    border: none;
    align-self: flex-end;
    margin: 22px 22px 105px 0;
    padding: 0;
    cursor: pointer;
}

.navtab__menu-icon:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.navtab__exit {
    display: flex;
    background-image: url(../../../images/menuClose.svg);
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
    background-position: center;
    background-size: cover;
}

.navtab__exit:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.navtab__link {
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    text-align: center;
    margin-bottom: 28px;
    
}

.navtab__link:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.link-active {
    border-bottom: 1px solid #000000;
}

.navtab__link:last-of-type {
    margin-bottom: 0;
}

.navtab__profile-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    color: #000000;
    width: 100px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    box-shadow: 0 3px 14px 0 #D4D4D4;
    bottom: 90px;
    border-radius: 50px;
}

.navtab__text-profile {
    margin-left: 11px;
}

.navtab__icon-profile {
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 7px;
    margin: 3px;
    box-shadow: 0 3px 14px 0 #d4d4d4;
}

@media (max-width: 500px) {
    .navtab__profile-link {
        bottom: 46px;
    }
}

@media (max-width: 400px) {
    .navtab__profile-link {
        bottom: 130px;
    }

    .navtab__menu-icon {
        margin-bottom: 90px;
    }

    .navtab__link {
        margin-bottom: 25px;
    }
}