.promo {
    display: flex;
    justify-content: center;
    background-color: #073042;
    max-width: 1280px;
    width: 100%;
}

.promo__container {
    display: flex;
    justify-content: space-between;
    padding: 72px 70px;
    width: 100%;
}

.promo__text {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    width: 100%;
}

.promo__title {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    max-width: 640px;
    margin: 6px 0 36px 0;
}

.promo__subtitle {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    max-width: 310px;
    margin: 0;
    opacity: 0.5;
}

.promo__more-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
    margin-top: 144px;
    border-radius: 3px;
    padding: 10px 20px;
    max-width: 89px;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.promo__more-link:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.promo__image-web {
    max-width: 310px;
    max-height: 304px;
}

@media (max-width: 980px) {
    .promo__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 140px 44px 76px;
    }

    .promo__text {
        text-align: center;
        align-items: center;
        margin-top: 48px;
    }

    .promo__title {
        margin-bottom: 22px;
        margin-top: 0;
        font-size: 40px;
        line-height: 50px;
    }

    .promo__more-link {
        margin-top: 92px;
    }

    .promo__subtitle {
        max-width: 260px;
    }
}

@media (max-width: 650px) {
    .promo__container {
        padding: 70px 10px 30px;
    }

    .promo__text {
        text-align: center;
        align-items: center;
        margin-top: 44px;
    }

    .promo__title {
        margin-bottom: 25px;
        letter-spacing: -0.04em;
    }

    .promo__more-link {
        margin-top: 79px;
    }

    .promo__title {
        font-size: 30px;
        line-height: 38px;
    }

    .promo__image-web {
        max-width: 210px;
        max-height: 206px;
    }

    .promo__subtitle {
        max-width: 260px;
    }
}